<h2>Welcome <%= @user.username %> </h2>


<h3>Here are all your posts:</h3>
<ul>
  <% sort_by_votes(@posts).each do |post| %>
    <li>

      <h4><%= vote_counter(post) %> <%= link_to post.title, post_path(post) %> </h4> 


      <p>
        <%= post.body  %>
      </p>
    </li>
  <% end %>
</ul>
